.table_Data {
    border-collapse: collapse;
    width: 100%;
}

.table_Data td,
.table_Data th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table_Data tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table_Data tr:hover {
    background-color: #ddd;
}

.table_Data th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightblue;
    color: white;
}